.aboutus {      
    min-height: 80vh;
  }
  .aboutus p {
    background-color: #e9efff;
    border-radius: 2px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .team {
    margin: auto;
    margin-top: 2em;
  }
  .team h1 {
    color:rgb(110, 110, 110);
    
    text-align: center;
  }
  .team p {
    color:rgb(139, 139, 139);
    text-align: center;
  }
  .team col{
    width: 50%;
  }
  