.landingpage {
    background-color: #F48722;
    min-height: 100vh;
      /* margin-top: -8em; */
  }
.mainimage {
  animation: jump 2s ease-in infinite;
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
  
  /* .............................................................................................. */
/* Titles */
.titles {
  color: white;
}
.titles h1{
  /* font-size: 3em; */
  font-weight: 550;
  /* margin-top: 1em; */
}
.titles h4 {
  font-weight: 100;
}
.titles p {
  margin-top: 2em;
  /* font-size: 1.2em; */
  color: rgba(235, 235, 235);
}

/* .............................................................................................. */