.social {
    margin-top: 2em;
    text-align: center;
  }
  .social-title{
    color:rgba(75, 75, 75);
    font-size: 26px; 
    font-weight: 700;
  }
  .social-content {
    
  }
  a.social {
   margin: 5px 15px;
   transition: transform 250ms;
   /* display: inline-block; */
  }

  a.social:hover {
    transform: translateY(-4px);
    color: inherit;
  }
  a.twitter{
    color:#00acee;
  }
  a.FaInstagram {
    color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  }
  a.linkedin {
    color:#2867B2;
  }