.stats {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: rgb(255, 241, 228);
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .stats h2 {
    color: #00595fc0;
    font-size: 2.3vw;
    width: 100%;
    margin: auto;
    padding: 1em;
    text-align: center;
    text-shadow: #272727af 1px 0 2px;
  }
  .statsimg {
    text-align: center;
  }
  .statsimg1 {
    width: 100%;
    height: auto;
  }
  .statsimg2 {
    width: 70%;
    box-shadow: 1px 15px 15px 1px rgba(133, 133, 133, 0.481);
  }
  .stats p {
    color: #999999;
    font-size: 1.7vw;
    width: 100%;
    text-align: center;
    margin-top: 2em;
    padding: 1em;
  }
  