.main {
  /* width: 100%; */
  position: relative;
  padding-bottom: 1em;
}
.header {
  width: 100%;
  text-align: center;
}
.logo {
  width: 100%;
  height: 100%;
  text-align: left;

}
.logo img{
  width: 40%;
  height: 40%;    
}
.navigation {
  width: 100%;
  height: 100%;
  margin-top: 2%;   
}
.navigation a {
  width: 100%;  
  color: rgba(46, 46, 46, 0.932);
  font-size: 1.5vw;
  transition: 0.3s;
  text-decoration: none;
}
.navigation a:hover {
  color: #808080;
}
/* .............................................................................................. */
/* .landingpage */
.landingpage {
  background-image: url(./img/landingimage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-top: 2em;
}
.titles {
  color: rgba(235, 235, 235, 0.904);
  width: 100%;
  height: auto;
  position: relative;
  top: 20%;
  left: 5%;
}
.titles h1{
  font-size: 3em;
}
.titles p {
  margin-top: 1em;
  font-size: 1.5em;
}
.titles a{
  color: rgb(197, 197, 197);
  position: relative;
  top: 1em;
  font-size: 1em;
  font-weight: 400;
}
#titlesfirst {
  font-size: 5  vw;
}
/* .............................................................................................. */

/* stats */
.stats {
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: rgb(255, 241, 228);
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}
.stats h2 {
  color: #00595fc0;
  font-size: 2.3vw;
  width: 100%;
  margin: auto;
  padding: 1em;
  text-align: center;
}
.statsimg {
  text-align: center;
}
.statsimg1 {
  width: 100%;
  height: auto;
}
.statsimg2 {
  width: 70%;
  box-shadow: 1px 15px 15px 1px rgba(133, 133, 133, 0.481);
}
.stats p {
  color: #999999;
  font-size: 1.7vw;
  width: 100%;
  text-align: center;
  margin-top: 2em;
  padding: 1em;
}

/* .............................................................................................. */
/* facts */
.facts {
  background-color: rgba(231, 229, 230);
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}
.facts img {
  margin: auto;
  width: 100%;
  height: 100%;
  box-shadow: 1px 10px 10px 1px rgba(133, 133, 133, 0.481);
}
.facts h4 {
  color: #616161ea;
  font-size: 2vw;
  width: 100%;
  margin: auto;
  line-height: 1.5em;
  margin-top: 25%;
}
.facts p {
  color: #999999;
  font-size: 1.7vw;
  margin: auto;
  padding: 1em;
  text-align: center;
  /* line-height: 1.5em; */
}

/* .............................................................................................. */
/* lungs */
.lungs {
  text-align: center;
}
.lungs img {
  width: 35%;
}
.lungs p {
  font-size: 1.5vw;
  width: 70%;
  color: #999999;
  text-align: center;
  margin: auto;
  line-height: 1.6em;
}
/* .............................................................................................. */
/* breathing */
.breathing {
  background-image: url(./img/breathing.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  margin-top:5%;
  /* margin-bottom: 1%; */
  /* border-radius: 1em; */
  /* box-shadow: 1px 2px 4px 2px rgba(0, 88, 74, 0.781); */
}
.breathing h1 {
  color: #ebf0ff;
  width: 10%;
  line-height: 2.5em;
  font-size: 2.5vw;
  font-weight: bold;
  margin-left: 10%;
}
/* .............................................................................................. */
/* wecare */
.wecare {
  background-color: #ebf0ff;
  width: 100%;
  height: auto;
  margin-top: 5%;
  padding: 1em 2em ;
  border-radius: 4px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}
.wecare img {
  width: 80%;
  height: auto;
  border-radius: 10px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}
.wemsg {
  margin: auto;
  text-align: center;
  font-size: 1.5vw;
  line-height: 2em;
  font-weight: 700;
  color: rgba(75, 75, 75, 0.815);
}
/* .............................................................................................. */
/* footer */
.footer {
  margin: auto;
  width: 97%;
}
/* .navlinks {
  margin: auto ;
} */
.navlinks a {
  font-size: 1.3vw;
  color:rgb(98, 198, 255);
  display: block;
  margin: 1em;
  text-decoration: none;
  transition: 0.3s;
}
.navlinks a:hover {
  color: #004561;
}
.logo2 {
  text-align: center;
  width: 100%;
  height: 100%;
}
.logo2 img {
  vertical-align: middle;
  width: 50%;
  height: 50%;
}
.address {
  text-align: right;
}
.address h5{
  font-size: 2vw;
}
.address p{
  font-size: 1vw;  
}
.address i{
  font-size: 1vw;  
}
.copyrights {
  font-size: 1vw; 
  color:#555555;
}

/* .............................................................................................. */
/* bottomline */
.bottomline {
  border-top: 1px solid rgb(216, 216, 216);
  width: 90%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
/* .............................................................................................. */
/* Abuotus */
.aboutus {      
  text-align: center;
}
.aboutus p {
  background-color: #e9efff;
  font-size: 1.25vw; 
  margin: auto;
  text-align: center;
  border-radius: 2px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 2em 1em;
  margin-top: 1em;
  width: 100%;
}
.team {
  margin: auto;
  margin-top: 2em;
}
.team h1 {
  color:rgb(110, 110, 110);
  
  text-align: center;
}
.team p {
  color:rgb(139, 139, 139);
  text-align: center;
}
.card {
  margin: auto;
  margin-top: 1em;
  width: 80%;
}
.card-img-top {
  width: 100%;

}
.sociallinks {
  padding:1em;
  text-align: center;
}
.sociallinks a  {
  padding: .5em;
}

.card h5{
  color: #555555;
}
.card p{
  font-size: 1em;
  
}
/* .............................................................................................. */

/* Contact US */
.thankyou {
  background-color:rgba(54, 40, 134, 0.945) ;
  padding: 2em;
  padding-bottom: 7em;
  width: 100%;
}

.thankyou h2 {
  text-align: center;
  font-size: 2vw; 
  color: rgb(255, 255, 255);  
  margin: 0 auto ;

}
.thankyou h2::after {
  color: rgba(241, 241, 241, 0.781);
  margin: 1.5em;
  content: "Need help or have questions? Contact Us with the form below.";
  display: block;
  text-align: center;
  font-size: 1.2vw; 
}
.write-us {
  padding: 1.5em;
  width: 80%;
  margin: auto;
  background-color: #ffffff;
  margin-top: -3em;
  box-shadow: 1px 2px 4px rgba(177, 177, 177, 0.5);
  
}
.contactform::before {
  content: "Get in Touch";
  display: block;
  color: rgba(54, 40, 134, 0.945);
  font-size: 2vw;
  font-weight: 700;
  text-align: center;
  margin: 1em;
}
.contactinfo {
  margin: 1.5em auto;

}
.contactinfo h3 {
  color: #5f5f5f;
  font-weight: 700;
  font-size: 2vw;
}
.contactinfo h3::after {
  content: "Please complete the form and we will respond within two business days.";
  display: block;
  color: #999999;
  font-size: 1vw;  
  font-weight: 300;
  margin-top: 1em;
  width: 70%;
}
.contactinfo h5{
  margin:1em;
  margin-top: 2em;
  color: #5a5a5a;
  font-weight: 500;
  font-size: 1.2vw;
  
}

.contactinfo-address h5::after {
  content: "I-04, Tides, IIT Roorkee, Haridwar (UK)";
  display: block;
  color: #999999;
  font-size: 0.8vw;  
  font-weight: 300;
  padding-left: 2.5em ;
}
.hours h5::after {
  content: "Mon-Fri 9:00am-6:00pm IST";
  display: block;
  color: #999999;
  font-size: 0.8vw;  
  font-weight: 300;
  padding-left: 2.5em;
}
.email h5::after {
  content: "vyaanpurifiers@gmail.com";
  display: block;
  color: #999999;
  font-size: 0.8vw;  
  font-weight: 300;
  padding-left: 2.5em;
}
.phone h5::after {
  content: "+91-7995981488";
  display: block;
  color: #999999;
  font-size: 0.8vw;  
  font-weight: 300;
  padding-left: 2.5em;
}
.form-group input{
  font-size: 1vw;
  margin-top: 1em;
}
.form-group textarea{
  font-size: 1vw;
  margin-top: 1em;
}
.form-group {
  text-align: center;
}
.form-group button {
  margin:1em; 
  font-size: 1.2vw;
}
/* .............................................................................................. */
/* Social */
.social {
  text-align: center;
  padding:5px 10px;
}
.social-title{
  color:rgba(0, 100, 104, 0.856);
  margin:5px 10px;
  text-align: center;
  font-size: 2.4vw; 
  font-weight: 500;
}
a.social {
 margin: 5px 10px;
 transition: transform 250ms;
 display: inline-block;
}
a.social:hover {
  transform: translateY(-4px);
}
.social a.twitter {
  color:#00acee;
}
.social a.linkedin {
  color:#0e76a8;
}
/* .............................................................................................. */
/* Blog */
.blog {
  background-color:rgba(155, 255, 233, 0.295);
  color: #464646e1;
  width: 40%;
  margin: auto;
  margin-top: 2em;
  padding: 2% 5%;
  font-weight: 600;
  text-align: center;
  border-radius: 1em;
  box-shadow: 1px 1px 2px 1px rgba(146, 146, 146, 0.781);
}

/* .............................................................................................. */
/* Products */
.basicgif {
  text-align: center;
  box-shadow: 1px 1px 15px 1px rgba(91, 113, 187, 0.425);
  margin-top: 2em;
  
}
.basicgif img {
  width: 30%;
  height: auto;
}

.products-title {
  text-align: center;
  margin-top: 2em;
}
.products-title h1 {
  color: #909090;
  font-weight: 500;
  font-size: 2em;
}
.products-title h2 {
  color: #00374e9a;
  margin-top: 1.5em;
  font-size: 1.8em;
  font-weight: 700;
}
.products-title p {
  color: #a1a1a1;
  font-size: 1.2em;
}
.features {
  margin: auto;
}
.features p {
  color: #7c7c7c;
  font-size: 1.3em;
  /* padding: .3em; */
}
.airflow-content {
  margin: auto;
  text-align: center;

}
.airflow {
  text-align: center;
  
  
}

.airflow img {
  width: 60%;
  height: auto;
  
}
.silicone {
  text-align: center;
}
.silicone-content {
  text-align: center;
}
.silicone img {
  width: 40%;
  height: auto;
  
}
.filter {
  text-align: center;
}
.filter img {
  width: 50%;
  height: auto;
}
.filter h5 {
  color:#696969;
  margin-top: 1em;
  box-shadow: 1px 1px 2px 1px rgba(146, 146, 146, 0.781);

}
.filterring {
  text-align: center;
}
.filterring img {
  width: 60%;
  height: auto;
}
.filterring h5{
  color:#696969;
  margin-top: 1em;
  box-shadow: 1px 1px 2px 1px rgba(146, 146, 146, 0.781);

}
.filter-content {
  text-align: center;
  color: #363636;
}
.home-product {
  background-color: #00456188;
}
/* .............................................................................................. */